<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Ruido{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet">

    <!-- Estilos propios -->
    <style>
        body {
            background-color: #f5f7fa;
        }
        .navbar-brand {
            font-weight: bold;
            letter-spacing: 0.5px;
        }
        .card {
            border-radius: 12px;
        }
    </style>
</head>
<body>

{% if request.path != '/login/' %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <a class="navbar-brand" href="/">AG NOISE APP</a>

    <div class="ms-auto d-flex align-items-center">
        {% if user.is_authenticated %}
            <span class="text-white me-3">{{ user.username }}</span>
            <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Cerrar sesión</a>
        {% endif %}
    </div>
</nav>
{% endif %}


<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
