{% extends "base.html" %}
{% block title %}Seleccionar edificio{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">
    <h3 class="mb-3">Selecciona un edificio</h3>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Edificio</label>
            <select name="edificio_id" class="form-select">
                {% for e in edificios %}
                    <option value="{{ e.id }}">{{ e.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-primary mt-2">Continuar</button>
    </form>
</div>
{% endblock %}
